{% macro build_user(email, chapa, dep, admin, id) %}

<link rel="stylesheet" href="static/cont_edit.css">
<form method="post">
<div class="contrato">
    <div class="campo">
            <label class="lbnegrito" for="contrato obj"> Email: </label>
            <input class="form-control edit" type="text" name="email" placeholder="{{email}}" id="res">
    </div>

    <div class="campo">
        <label class="lbnegrito" for="contrato obj"> Chapa: </label>
        <input class="form-control edit" type="text" name="chapa" placeholder="{{chapa}}" id="dati">
    </div>

    <div class="campo">
        <label class="lbnegrito" for="contrato obj"> Departamento: </label>
        <input class="form-control edit" type="text" name="dep" placeholder="{{dep}}" id="dataf">
    </div>
    
    <div class="campo">
        <label class="lbnegrito" for="contrato obj"> Admin: </label>
        <input class="form-control edit" type="checkbox" name="admin" checked="{{admin}}" id="var">
    </div>

    <div class="campo">
        <input type="hidden" name="id" value="{{id}}" id="id"> 
    </div>

    <button type="submit" class="btn btn-success">Atualizar</button>    
</div>
</form>
{% endmacro %}