a {
    color:#038f5c;
    border-radius: 10px;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    background: #7eb4a0;
}

a:active {
    background: #04AA6D;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cp {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image-footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-image: url("imgs/footer.png");
    background-position:center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 20px;
}

.btn {
    width: 100%;
}