<div class="forms">
    <div class="iner">
    <form method="post">   
    
    <div class="cp">
        <label class="lbnegrito"for="contrato obj"> OBJETO </label>
    </div>
    <input class="form-control" type="text" required name="resumo" id="res">

    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> DT INICIO </label>
    </div>
    <input class="form-control" type="date" required name="datai" id="dati">

    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> DT FIM </label>
    </div class="cp">
    <input class="form-control" type="date" required name="dataf" id="datf">
    
    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> VALOR </label>
    </div class="cp">
    <input class="form-control" type="text" required name="valor" id="var">

    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> NOME CONTRATO </label>
    </div>
    <input class="form-control" type="text" required name="nome_cont" id="cnpj">

    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> EMPRESA </label>
    </div>
    <input class="form-control" type="text" required name="nome" id="nome">
    
    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> NUMERO DO CONTRATO </label>
    </div>
    <input class="form-control sinput" type="text" required name="num_cont" id="codfor">

    <div class="cp">
        <label class="lbnegrito" for="contrato obj"> DEPARTAMENTO </label>
    </div>
    <input class="form-control sinput" type="text" required name="dep" id="codfor">

    <div class="cp">
        <button type="submit" class="btn btn-success">ENVIAR</button>
    </div>

    </form>

    </div>
</div>