<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
    <title>AMCEL - ALERTA DE CONTRATOS</title>
</head>
<body>
    <div class="forms">
        <div>
            <label class="titulo" for="titulo"> AMCEL - ALERTA DE CONTRATOS </label>
        </div>
        <div>
            <form method="post" class="forms">
                <Label >Usuario criado no primeiro login</Label>
                <Label class="lbnegrito">Login</Label>
                <input class="form-control" type="text" name="email" placeholder="email">
                <input class="form-control" type="text" name="chapa" placeholder="chapa">
                <input class="form-control" type="text" name="dep" placeholder="departamento">
                <button type="submit" class="btn btn-success">Login</button>
            </form>
            
        </div>    
    </div>
    
</body>
</html>